# Auto detect text files and perform LF normalization
* text=auto
Options =["Withdraw money 1","Deposit money 2","View cash 3","Exit 4","Repayment loan 5"]

cash=500

ask = input("Please select the action you want to do: ")

if ask == "1":
    print("How much money do you want to withdraw?")
    pull = int(input("Quantity: "))

    if pull > cash:
        print("You can't withdraw that much because you don't have that much in your balance.")

    else:
        cash -= pull
        print("Your remaining money after the transaction" + cash)

elif ask == "2":
    print("How much money do you want to deposit?")
    deposit= int(input("Quantity: "))
    cash += deposit
    print("Your remaining cash: "+ str(cash))

elif ask == "3":
    print("Cash " + str(cash))

elif ask == "4":
    print("Exiting...")


elif ask == "5":
    print("You can withdraw a maximum of 300 TL repayment credit.")
    max_tl=300
    money=int(input("Enter the loan amount you want to withdraw with repayment: "))
    if max_tl < money:
        print("You cannot withdraw that much.")
    else:
        print(str(money) + " You pulled back ")
